/* body{
    background-color: #9f9da7;
    font-size: 1.6rem;
    font-family: "Open Sans",sans-serif;
    color:#2b3e51;
}
h2{
    font-weight: 300;
    text-align: center;
}
p{
    position: relative;
}
a,
a:link,
a:visited,
a:active{
    color: #3ca9ec;
    -webkit-transition: all 0.2s ease;
} */